body {
    font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #2f4050;
    font-size: 13px;
    color: #676a6c;
    overflow-x: hidden;
}

html, body {
    height: 100%;
}

.browser-mockup {
    border-top: 2em solid rgba(230, 230, 230, 0.7);
    box-shadow: 0 0.1em 1em 0 rgba(0, 0, 0, 0.4);
    position: relative;
    border-radius: 3px 3px 0 0

}

.ico-labmet {
    display: block;
    position: absolute;
    top: -1.75em;
    left: 1.4em;
    width: 1.5em;
    height: 1.5em;
}

.status-connected::before {
    display: block;
    position: absolute;
    content: '';
    top: -1.25em;
    right: 2.5em;
    width: 0.5em;
    height: 0.5em;
    border-radius: 50%;
    box-shadow: 1.5em 0 0 2px #9b3;
}

.status-disconnected::before {
    display: block;
    position: absolute;
    content: '';
    top: -1.25em;
    right: 2.5em;
    width: 0.5em;
    height: 0.5em;
    border-radius: 50%;
    box-shadow: 1.5em 0 0 2px #f44;
}

.browser-mockup.with-tab:after {
    display: block;
    position: absolute;
    content: '';
    top: -2em;
    left: 5.5em;
    width: 20%;
    height: 0em;
    border-bottom: 2em solid white;
    border-left: 0.8em solid transparent;
    border-right: 0.8em solid transparent;
}

.browser-mockup.with-url:after {
    display: block;
    position: absolute;
    content: '';
    top: -1.6em;
    left: 5.5em;
    width: calc(100% - 6em);
    height: 1.2em;
    border-radius: 2px;
    background-color: white;
}

.browser-mockup>* {
    display: block;
}

.flot-chart {
    display: block;
    height: 180px;
    margin-top: 40px;
}

.labmet-flot {
    width: 100%;
    height: 100%;
}


/* potato */

.potato {
    position: relative;
    width: 400px;
    height: 242px;
    overflow: hidden;
}


.potato-15 {
    position: absolute;
    left: 50%;
    top: 85%;
    height: 100%;
    width: auto;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.potato-25 {
    position: absolute;
    left: 50%;
    top: 75%;
    height: 100%;
    width: auto;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.potato-50 {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 100%;
    width: auto;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.potato-75 {
    position: absolute;
    left: 50%;
    top: 25%;
    height: 100%;
    width: auto;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.potato-100 {
    position: absolute;
    left: 50%;
    top: 0%;
    height: 100%;
    width: auto;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
