{% extends "base.html" %}

{% block body %}
    <!-- <div id="header">
        <div class="page-header">
            <h1>Teste Nodemcu</h1>
        </div>
    </div> -->

    <!-- <div id="content">
        <div class="container">
            <div class="row row-centered">
                <div class="col-xs-6 col-centered col-fixed">
                    <div class="item">
                        <div class="dv_content" id="collected_at">
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-centered col-fixed">
                    <div class="item">
                        <div class="dv_content" id="bmp180_temp">
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-centered col-fixed">
                    <div class="item">
                        <div class="dv_content" id="bmp180_alt">
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-centered col-fixed">
                    <div class="item">
                        <div class="dv_content" id="bmp180_press">
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-centered col-fixed">
                    <div class="item">
                        <div class="dv_content" id="ds18b20_temp">
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-centered col-fixed">
                    <div class="item">
                        <div class="dv_content" id="dht22_temp">
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-centered col-fixed">
                    <div class="item">
                        <div class="dv_content" id="dht22_humid">
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-centered col-fixed">
                    <div class="item">
                        <div class="dv_content" id="bh1750_illuminance">
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-centered col-fixed">
                    <div class="item">
                        <div class="dv_content" id="analog_soil_moisture">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="footer">
        <div class="container text-center">
            <div class="row">
                <div class="col-sm-12">
                    <a href="http://lab804.com.br" target="_blank"><img src="{{url_for('static', filename='img/sign_lab804.svg')}}"></a>
                </div>
            </div>
        </div>
    </div> -->

{% endblock %}
